<h1 class="home">Rainforest</h1>
<h2 class="home">
  The premiere location to find and review all of your favorite products
</h2>

<nav class="main">
  <ul>
    <li><%= link_to 'Categories', categories_path %></li>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Users', users_path %></li>
  </ul>
</nav>