dl.products,
dl.reviews {
  line-height: 2em;
  dt {
    width: 280px;
  }
  dd {
    width: 640px;
  }
  overflow: auto;
}

#products {
  section ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    li {
      margin: 0 0 3px;
      padding: 0;
      width: 100%;
      a {
        display: block;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        background: rgba(0,0,0,.5);
        font-size: 1.15em;
        position: relative;
        span.category {
          display: block;
          margin: 20px 0 0;
          font-size: 0.8em;
        }
        span.reviews {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 20px;
          font-size: 0.8em;
        }
      }
      a:hover {
        background: rgba(0,0,0,.2);
      }
    }
  }
}

section.review {
  margin: 10px 0;
  width: 100%;
  background: rgba(0,0,0,.3);
  aside {
    font-weight: bold;
  }
  article.review.comment {
    background: none;
    width: 620px;
  }
}

form.general {
  div.field {
    margin: 10px 0;
    padding: 10px 0;
    label {
      width: 180px;
      float: left;
      padding: 15px;
      text-align: right;
    }
    input,
    textarea {
      padding: 10px;
      font-size: 16pt;
      color: white;
      text-shadow: 0px 0px 2px rgba(0,0,0,1);
    }
    input {
      width: 600px;
    }
    textarea {
      width: 600px;
    }
    select {
      margin: 15px 0;
    }
  }
  div.buttons {
    text-align: center;
    button {
      display: inline-block;
      padding: 8px 25px;
      border-radius: 20px;
    }
  }
}

form.review {
  textarea {
    width: 500px;
    height: 125px;
    padding: 10px;
    background: rgba(255,255,255,0.2)
  }
  textarea:focus {
    background: rgba(255,255,255,0.4);
  }
  button {
    padding: 15px 45px;
  }
}

form.comment {
  background: rgba(0,0,0,.3);
  padding: 0 0 20px;
}

section.reviews {
  margin: 20px 0;
}

#search-form {
  width: 100%;
  position: relative;
  margin: 20px auto 0;
  input[type=text] {
    padding: 20px;
    font-size: 1.2em;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding-right: 140px;
  }
  button {
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 11px;
    height: 40px;
    background-color: #212121;
  }
}

nav.pagination {
  text-align: center;
}