section.reviews {
  p.empty {
    margin: 15px 0;
  }
}

section.review {
  overflow: auto;
  margin: 5px 0;
  aside.user {
    width: 280px;
    float: left;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 10pt;
    padding: 20px 10px;
    a {
      text-decoration: none;
    }
  }
  article.comment {
    background: rgba(0,0,0,.2);
    float: left;
    width: 590px;
    margin: 0;
    padding: 20px;
    font-size: 10pt;
    time {
      display: block;
      text-align: right;
    }
  }
}