* {
  font-family: sans-serif;
}

body {
  font-size: 10pt;
}

h1, h2, h3 {
  margin: 0 0 10px;
  padding: 20px 0 10px;
}

.field_with_errors {
  display: inline;
}

nav.session {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      font-size: 10pt;
      a {
        display: inline-block;
        margin: 0 0 0 5px;
        padding: 10px 15px;
        border: 1px solid #222;
        text-decoration: none;
        font-weight: bold;
        color: #222;
      }
      a:hover {
        background: #f9f9f9;
      }
    }
  }
}

textarea {
  resize: none;
  width: 500px;
  height: 125px;
  padding: 10px;
}