<h2>Categories of Products</h2>

<% if current_user && current_user.id == 1 %>
  <nav class="buttons">
    <%= link_to 'Add new category', new_category_path %>
  </nav>
<% end %>

<ul class='categories'>
  <% @categories.each do |category| %>
    <li><%= link_to category.name.capitalize, category %></li>
  <% end %>
</ul>
