<%= form_for [@product, @review], remote: true, html: {class: 'general comment'} do |f| -%>
  <h3>Add your own review</h3>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <div class="buttons">
    <%= f.button 'Post Review' %>
  </div>
<% end %>
