<section class="review">
  <aside class="user">
    <%= review.user.name %>
  </aside>
  <article class="comment">
    <%= review.comment %>
    <time datetime="<%= review.created_at %>">
      <%= review.created_at %>
    </time>
  </article>
</section>
