<section class="review">
  <article class="comment">
    <%= review.comment %>
  </article>
  <% if review.user %>
    <footer>
      Posted by: <strong><%= review.user.name %></strong>
      <time datetime="<%= review.created_at %>">
        <%= review.created_at %>
      </time>
    </footer>
  <% end %>
</section>
