<h2>Products</h2>

<nav class="buttons">
  <%= link_to 'Add a new product', new_product_path %>
</nav>

<% if @products.any? %>
  <ul class="products">
    <% @products.each do |product| %>
      <li><a href="<%= product_path(product) %>"><%= product.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>
    <em>There are no products on <strong>Rainforest</strong> so far</em>
  </p>
<% end %>