<h1>Products</h1>

<%= link_to 'Add a new product', new_product_path %>

<dl class="products">
  <% @products.each do |product| %>
    <dt><a href="<%= product_path(product) %>"><%= product.name %></a></dt>
    <dd><%= product.description %></dd>
  <% end %>
</dl>